.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.jobCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
  
  .filterPanelContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.85rem;
  }
  
  .showMoreButton {
    color: #1976d2;
    cursor: pointer;
  }